<div>
  <h1>Link Manager</h1>
  <div>
    <% current_user.links.each do |link| %>
      <%= simple_form_for(link, url: links_url(link)) do |f| %>
        <%= f.input :title, placeholder: "Title", label: false %>
        <%= f.input :url, placeholder: "URL", label: false %>
        <%= f.submit "Update Link" %>
      <% end %>
    <% end %>
  </div>
</div>
