<div class = "container">
  <div class="row">
    <div><%= image_tag(@user.avatar, class:"avatar-pic") if @user.avatar.attached? %> </div>
    <h2> <%= @user.email %> </h2>
    <p> Test desc </p>
  </div>
</div>
